@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

.amazon-btn-primary {
  background-color: #ffd814;
  border-radius: 9999px;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  transition: background-color 0.2s;
}

.amazon-btn-primary:hover {
  background-color: #f7ca00;
}
